<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <property resource="application.properties"/>
  <property name="LOG_PATH" value="F:/kibana/logi/rss/"/>
  <property name="LOG_FILE" value="${LOG_PATH}rss.log"/>
  <property name="SQL_FILE" value="${LOG_PATH}rssSQL.log"/>
  <property name="ERRORS_FILE" value="${LOG_PATH}errors.log"/>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ROLLIN">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_FILE}%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SQL">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <file>${SQL_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${SQL_FILE}%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100MB</MaxFileSize>
    </triggeringPolicy>
  </appender>


  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ERRORS">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <file>${ERRORS_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${ERRORS_FILE}%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="ROLLIN"/>
    </root>
  </springProfile>

  <springProfile name="test,development">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="ERROR">
      <appender-ref ref="ERRORS"/>
    </root>
    <logger additivity="false" level="INFO" name="org.hibernate">
      <appender-ref ref="SQL"/>
    </logger>
  </springProfile>

  <logger level="INFO" name="org.springframework.web"/>


</configuration>